In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("CKD_CGNB.csv")

In [3]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2,76.459948,c,3,0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3,76.459948,c,2,0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4,76.459948,a,1,0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5,76.459948,d,1,0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5,50.000000,c,0,0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,41,80.000000,a,0,0,normal,normal,notpresent,notpresent,122.000000,...,41.000000,9100.000000,5.200000,no,no,no,yes,poor,no,no
95,41,80.000000,b,0,0,normal,normal,notpresent,notpresent,112.000000,...,52.000000,7200.000000,5.800000,no,no,no,yes,poor,no,no
96,42,100.000000,d,4,0,normal,abnormal,notpresent,present,148.112676,...,39.000000,8300.000000,4.600000,yes,no,no,poor,poor,no,yes
97,42,90.000000,a,2,0,abnormal,abnormal,present,notpresent,93.000000,...,34.000000,9800.000000,4.705597,no,no,no,poor,yes,yes,yes
98,42,80.000000,a,0,0,normal,normal,notpresent,notpresent,98.000000,...,44.000000,8400.000000,5.500000,no,no,no,yes,poor,no,no

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2,76.459948,3,0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,1,0,0,0,0,0,1,1,0,1
1,3,76.459948,2,0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,1,0,0,0,0,1,0,0,1
2,4,76.459948,1,0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,1,0,0,0,0,1,0,0,1
3,5,76.459948,1,0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,1,0,0,0,0,1,0,1,1
4,5,50.000000,0,0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,1,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,41,80.000000,0,0,122.000000,25.000000,0.800000,138.000000,5.000000,17.100000,...,1,1,0,0,0,0,1,0,0,0
95,41,80.000000,0,0,112.000000,48.000000,0.700000,140.000000,5.000000,17.000000,...,1,1,0,0,0,0,1,0,0,0
96,42,100.000000,4,0,148.112676,50.000000,1.400000,129.000000,4.000000,11.100000,...,1,0,0,1,1,0,0,0,0,1
97,42,90.000000,2,0,93.000000,153.000000,2.700000,139.000000,4.300000,9.800000,...,0,0,1,0,0,0,0,1,1,1
98,42,80.000000,0,0,98.000000,20.000000,0.500000,140.000000,3.500000,13.900000,...,1,1,0,0,0,0,1,0,0,0

In [6]:
#renaming the columns
dataset.rename(columns={"rbc_normal":"rbc","pc_normal":"pc","pcc_present":"pcc","ba_present":"ba","htn_yes":"htn",
                        "dm_yes":"dm","cad_yes":"cad","appet_yes":"appet","pe_yes":"pe",
                        "ane_yes":"ane","classification_yes":"classification"},inplace=True)

In [7]:
#printing the updated dataset
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc,pc,pcc,ba,htn,dm,appet,pe,ane,classification
0,2,76.459948,3,0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,1,0,0,0,0,0,1,1,0,1
1,3,76.459948,2,0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,1,0,0,0,0,1,0,0,1
2,4,76.459948,1,0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,1,0,0,0,0,1,0,0,1
3,5,76.459948,1,0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,1,0,0,0,0,1,0,1,1
4,5,50.000000,0,0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,1,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,41,80.000000,0,0,122.000000,25.000000,0.800000,138.000000,5.000000,17.100000,...,1,1,0,0,0,0,1,0,0,0
95,41,80.000000,0,0,112.000000,48.000000,0.700000,140.000000,5.000000,17.000000,...,1,1,0,0,0,0,1,0,0,0
96,42,100.000000,4,0,148.112676,50.000000,1.400000,129.000000,4.000000,11.100000,...,1,0,0,1,1,0,0,0,0,1
97,42,90.000000,2,0,93.000000,153.000000,2.700000,139.000000,4.300000,9.800000,...,0,0,1,0,0,0,0,1,1,1
98,42,80.000000,0,0,98.000000,20.000000,0.500000,140.000000,3.500000,13.900000,...,1,1,0,0,0,0,1,0,0,0

In [8]:
#printing the columns
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc', 'pc', 'pcc', 'ba',
       'htn', 'dm', 'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [9]:
dataset["classification"].value_counts()

0    57
1    42
Name: classification, dtype: int64

In [11]:
#separating the feature and target values.
feature = dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc', 'pc', 'pcc', 'ba',
       'htn', 'dm', 'appet', 'pe', 'ane']]
target = dataset[['classification']]

In [13]:
#printing the no of columns and rows of input and output 
feature.shape,target.shape

((99, 26), (99, 1))

In [14]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(feature, target, test_size = 0.15, random_state = 42)

In [15]:
(X_train,X_test),(X_train.shape,X_test.shape)

((    age    bp  al  su         bgr     bu    sc         sod       pot  \
  4     5  50.0   0   0  148.112676   25.0   0.6  137.528754  4.627244
  22   20  70.0   0   0  123.000000   44.0   1.0  135.000000  3.800000
  12   12  80.0   0   0  100.000000   26.0   0.6  137.000000  4.400000
  88   40  70.0   3   4  253.000000  150.0  11.9  132.000000  5.600000
  73   35  70.0   0   0   82.000000   36.0   1.1  150.000000  3.500000
  ..  ...   ...  ..  ..         ...    ...   ...         ...       ...
  60   34  70.0   4   0  153.000000   22.0   0.9  133.000000  3.800000
  71   35  80.0   0   0  104.000000   31.0   1.2  135.000000  5.000000
  14   15  60.0   3   0   86.000000   15.0   0.6  138.000000  4.000000
  92   41  80.0   1   4  210.000000  165.0  18.0  135.000000  4.700000
  51   32  90.0   1   0  148.112676  223.0  18.1  113.000000  6.500000

           hrmo  ...  sg_e  rbc  pc  pcc  ba  htn  dm  appet  pe  ane
  4   11.800000  ...     0    1   1    0   0    0   0      1   0    0
  22  14.600000  ...     0    1   1    0   0    0   0      1   0    0
  12  15.800000  ...     0    1   1    0   0    0   0      1   0    0
  88  10.900000  ...     0    1   1    0   0    1   1      0   1    0
  73  14.500000  ...     0    1   1    0   0    0   0      1   0    0
  ..        ...  ...   ...  ...  ..  ...  ..  ...  ..    ...  ..  ...
  60  12.518156  ...     0    0   0    0   0    0   0      1   1    0
  71  16.100000  ...     0    1   1    0   0    0   0      1   0    0
  14  11.000000  ...     0    1   1    0   0    1   1      1   0    0
  92  12.518156  ...     0    0   1    0   0    0   1      1   0    0
  51   5.500000  ...     0    0   0    0   0    1   1      0   1    1

  [84 rows x 26 columns],
      age         bp  al  su         bgr          bu        sc         sod  \
  62   34  70.000000   0   0  139.000000   19.000000  0.900000  137.528754
  40   28  60.000000   0   0   79.000000   50.000000  0.500000  145.000000
  95   41  80.000000   0   0  112.000000   48.000000  0.700000  140.000000
  18   17  60.000000   0   0  114.000000   50.000000  1.000000  135.000000
  97   42  90.000000   2   0   93.000000  153.000000  2.700000  139.000000
  84   39  70.000000   0   0  124.000000   22.000000  0.600000  137.000000
  64   34  90.000000   2   0  104.000000   50.000000  1.600000  137.000000
  42   29  80.000000   0   0   83.000000   49.000000  0.900000  139.000000
  10   11  80.000000   3   0  148.112676   17.000000  0.800000  137.528754
  0     2  76.459948   3   0  148.112676   57.482105  3.077356  137.528754
  31   24  70.000000   0   0  140.000000   23.000000  0.600000  140.000000
  76   36  80.000000   0   0   85.000000   16.000000  1.100000  142.000000
  47   30  80.000000   0   0   89.000000   42.000000  0.500000  139.000000
  26   23  80.000000   0   0   70.000000   36.000000  1.000000  150.000000
  44   30  70.000000   0   0  101.000000  106.000000  6.500000  135.000000

           pot       hrmo  ...  sg_e  rbc  pc  pcc  ba  htn  dm  appet  pe  ane
  62  4.627244  12.700000  ...     0    0   1    0   0    0   0      0   0    0
  40  5.000000  17.600000  ...     0    1   1    0   0    0   0      1   0    0
  95  5.000000  17.000000  ...     0    1   1    0   0    0   0      1   0    0
  18  4.900000  14.200000  ...     0    1   1    0   0    0   0      1   0    0
  97  4.300000   9.800000  ...     0    0   0    1   0    0   0      0   1    1
  84  3.800000  13.400000  ...     0    1   1    0   0    0   0      1   0    0
  64  4.100000  11.900000  ...     0    1   1    0   0    0   0      1   0    0
  42  3.300000  17.500000  ...     0    1   1    0   0    0   0      1   0    0
  10  4.627244  15.000000  ...     0    1   1    0   0    0   0      1   0    0
  0   4.627244  12.518156  ...     0    1   0    0   0    0   0      1   1    0
  31  4.700000  16.300000  ...     0    1   1    0   0    0   0      1   0    0
  76  4.100000  15.600000  ...     0    1   1    0   0    0   0      1   0    0
  47  5.000000  16.700000  ...     0    1   1    0   0    0   0      1   0    0
  26  4.600000  17.000000  ...     0    1   1    0   0    0   0      1   0    0
  44  4.300000  12.518156  ...     0    1   1    0   0    0   0      0   0    0

  [15 rows x 26 columns]),
 ((84, 26), (15, 26)))

In [14]:
(Y_train,Y_test),(Y_train.shape,Y_test.shape)

((     classification
  324               1
  176               0
  119               1
  192               1
  202               0
  ..              ...
  71                0
  106               0
  270               1
  348               1
  102               1

  [267 rows x 1 columns],
       classification
  198               1
  349               0
  33                0
  208               1
  93                0
  ..              ...
  393               1
  380               1
  384               0
  310               1
  145               1

  [132 rows x 1 columns]),
 ((267, 1), (132, 1)))

In [16]:
#Model creation and Training phase
from sklearn.naive_bayes import CategoricalNB
CGNB_classif = CategoricalNB()
CGNB_classif.fit(X_train, Y_train)

#Testing phase
Y_pred = CGNB_classif.predict(X_test)

#Scoring phase for decide best model
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, Y_pred)

from sklearn.metrics import classification_report
clf_report = classification_report(Y_test, Y_pred)  

print(clf_report)

print(cm)

              precision    recall  f1-score   support

           0       0.90      1.00      0.95         9
           1       1.00      0.83      0.91         6

    accuracy                           0.93        15
   macro avg       0.95      0.92      0.93        15
weighted avg       0.94      0.93      0.93        15

[[9 0]
 [1 5]]

/home/had/anaconda3/lib/python3.9/site-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)