In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("CKD.csv")

In [3]:
#printing the dataset
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [4]:
#converting the classification categorical value to numerical value.
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
#printing the updated dataset
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [6]:
#renaming the columns
dataset.rename(columns={"rbc_normal":"rbc","pc_normal":"pc","pcc_present":"pcc","ba_present":"ba","htn_yes":"htn",
                        "dm_yes":"dm","cad_yes":"cad","appet_yes":"appet","pe_yes":"pe",
                        "ane_yes":"ane","classification_yes":"classification"},inplace=True)

In [7]:
#printing the updated dataset
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc,pcc,ba,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [8]:
#printing the columns
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc', 'pc', 'pcc', 'ba',
       'htn', 'dm', 'cad', 'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [9]:
#printing the classification to know whether it is balanced or imbalanced.
dataset["classification"].value_counts()

1    249
0    150
Name: classification, dtype: int64

In [10]:
#separating the feature and target values.
feature = dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc', 'pc', 'pcc', 'ba',
       'htn', 'dm', 'cad', 'appet', 'pe', 'ane']]
target = dataset[['classification']]

In [11]:
#printing the no of columns and rows of input and output 
feature.shape,target.shape

((399, 27), (399, 1))

In [12]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(feature, target, test_size = 0.33, random_state = 42)

In [13]:
(X_train,X_test),(X_train.shape,X_test.shape)

((      age    bp   al   su         bgr    bu   sc         sod       pot  \
  324  68.0  80.0  3.0  2.0  157.000000  90.0  4.1  130.000000  6.400000
  176  52.0  80.0  0.0  0.0  125.000000  22.0  1.2  139.000000  4.600000
  119  45.0  70.0  2.0  0.0  117.000000  52.0  2.2  136.000000  3.800000
  192  54.0  90.0  1.0  0.0  150.000000  18.0  1.2  140.000000  4.200000
  202  55.0  80.0  0.0  0.0  130.000000  50.0  1.2  147.000000  5.000000
  ..    ...   ...  ...  ...         ...   ...  ...         ...       ...
  71   35.0  80.0  0.0  0.0  104.000000  31.0  1.2  135.000000  5.000000
  106  43.0  60.0  0.0  0.0  108.000000  25.0  1.0  144.000000  5.000000
  270  62.0  90.0  1.0  0.0   94.000000  25.0  1.1  131.000000  3.700000
  348  71.0  90.0  0.0  3.0  303.000000  30.0  1.3  136.000000  4.100000
  102  43.0  80.0  2.0  3.0  148.112676  30.0  1.1  137.528754  4.627244

            hrmo  ...  rbc  pc  pcc  ba  htn  dm  cad  appet  pe  ane
  324   5.600000  ...    1   0    1   1    1   1    1      0   1    0
  176  16.500000  ...    1   1    0   0    0   0    0      1   0    0
  119  10.000000  ...    1   0    1   0    0   0    0      1   0    0
  192  12.518156  ...    1   0    0   0    0   0    0      0   1    1
  202  15.500000  ...    1   1    0   0    0   0    0      1   0    0
  ..         ...  ...  ...  ..  ...  ..  ...  ..  ...    ...  ..  ...
  71   16.100000  ...    1   1    0   0    0   0    0      1   0    0
  106  17.800000  ...    1   1    0   0    0   0    0      1   0    0
  270  12.518156  ...    1   1    0   0    1   0    0      1   1    1
  348  13.000000  ...    1   1    0   0    1   1    0      1   0    0
  102  14.000000  ...    1   0    1   1    0   0    0      1   0    0

  [267 rows x 27 columns],
             age    bp   al   su         bgr          bu         sc         sod  \
  198  55.000000  90.0  2.0  1.0  273.000000  235.000000  14.200000  132.000000
  349  71.000000  70.0  0.0  0.0   81.000000   18.000000   0.800000  145.000000
  33   24.000000  80.0  0.0  0.0   93.000000   46.000000   1.000000  145.000000
  208  56.000000  80.0  0.0  0.0  415.000000   37.000000   1.900000  137.528754
  93   41.000000  70.0  0.0  0.0  125.000000   38.000000   0.600000  140.000000
  ..         ...   ...  ...  ...         ...         ...        ...         ...
  393  51.492308  70.0  4.0  0.0  104.000000   16.000000   0.500000  137.528754
  380  78.000000  60.0  0.0  0.0  114.000000   74.000000   2.900000  135.000000
  384  80.000000  70.0  0.0  0.0  148.112676   57.482105   3.077356  135.000000
  310  66.000000  70.0  2.0  5.0  447.000000   41.000000   1.700000  131.000000
  145  48.000000  80.0  4.0  0.0   95.000000  163.000000   7.700000  136.000000

            pot       hrmo  ...  rbc  pc  pcc  ba  htn  dm  cad  appet  pe  ane
  198  3.400000   8.300000  ...    0   0    0   0    1   1    0      0   1    1
  349  5.000000  14.700000  ...    1   1    0   0    0   0    0      1   0    0
  33   3.500000  12.518156  ...    1   1    0   0    0   0    0      1   0    0
  208  4.627244  12.518156  ...    1   1    0   0    0   1    0      1   0    0
  93   5.000000  16.800000  ...    1   1    0   0    0   0    0      1   0    0
  ..        ...        ...  ...  ...  ..  ...  ..  ...  ..  ...    ...  ..  ...
  393  4.627244  12.518156  ...    0   1    0   0    0   0    0      1   1    0
  380  5.900000   8.000000  ...    1   1    0   0    0   1    0      1   0    1
  384  4.100000  15.300000  ...    1   1    0   0    0   0    0      1   0    0
  310  3.900000  12.500000  ...    1   1    0   0    1   1    0      1   0    0
  145  3.800000   9.800000  ...    1   0    0   0    1   0    0      1   0    1

  [132 rows x 27 columns]),
 ((267, 27), (132, 27)))

In [14]:
(Y_train,Y_test),(Y_train.shape,Y_test.shape)

((     classification
  324               1
  176               0
  119               1
  192               1
  202               0
  ..              ...
  71                0
  106               0
  270               1
  348               1
  102               1

  [267 rows x 1 columns],
       classification
  198               1
  349               0
  33                0
  208               1
  93                0
  ..              ...
  393               1
  380               1
  384               0
  310               1
  145               1

  [132 rows x 1 columns]),
 ((267, 1), (132, 1)))

In [15]:
#model creation and learning phase
from sklearn.neighbors import KNeighborsClassifier
#importing the gridsearch to fit hyptun.parameter in table and 
#find best parameter
from sklearn.model_selection import GridSearchCV
hyperparam_grid = {'algorithm':['auto', 'ball_tree', 'kd_tree', 'brute'],
                'weights' : ['uniform','distance']}         
grid_KNN = GridSearchCV(KNeighborsClassifier(n_neighbors = 6, metric = 'minkowski', p = 2),
                        hyperparam_grid,cv=3, refit=True,verbose=3, n_jobs=-1,scoring='f1_weighted')

#Model creation grid search
grid_KNN.fit(X_train, Y_train)

Fitting 3 folds for each of 8 candidates, totalling 24 fits

/home/had/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)
/home/had/anaconda3/lib/python3.9/site-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

GridSearchCV(cv=3, estimator=KNeighborsClassifier(n_neighbors=6), n_jobs=-1,
             param_grid={'algorithm': ['auto', 'ball_tree', 'kd_tree', 'brute'],
                         'weights': ['uniform', 'distance']},
             scoring='f1_weighted', verbose=3)

In [16]:
#printing the best parameter after tuning.
re=grid_KNN.cv_results_
Y_prediction = grid_KNN.predict(X_test)

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test,Y_prediction)

#printing the classificaton report
from sklearn.metrics import classification_report
clf_report = classification_report(Y_test, Y_prediction)

In [22]:
from sklearn.metrics import f1_score
macro_value = f1_score(Y_test,Y_prediction,average='weighted')
print("The macro_value for best parameter {}:".format(grid_KNN.best_params_),macro_value)

The macro_value for best parameter {'algorithm': 'auto', 'weights': 'distance'}: 0.7437622983077529

In [23]:
print(clf_report)

              precision    recall  f1-score   support

           0       0.67      0.72      0.69        53
           1       0.80      0.76      0.78        79

    accuracy                           0.74       132
   macro avg       0.73      0.74      0.74       132
weighted avg       0.75      0.74      0.74       132

In [24]:
print(cm)

[[38 15]
 [19 60]]
[CV 1/3] END ...algorithm=auto, weights=uniform;, score=0.668 total time=   0.1s
[CV 2/3] END ..algorithm=auto, weights=distance;, score=0.802 total time=   0.0s
[CV 3/3] END ..algorithm=auto, weights=distance;, score=0.728 total time=   0.0s
[CV 1/3] END algorithm=ball_tree, weights=uniform;, score=0.668 total time=   0.0s
[CV 2/3] END algorithm=ball_tree, weights=uniform;, score=0.712 total time=   0.0s
[CV 3/3] END algorithm=ball_tree, weights=uniform;, score=0.757 total time=   0.0s
[CV 1/3] END algorithm=ball_tree, weights=distance;, score=0.681 total time=   0.0s
[CV 2/3] END algorithm=ball_tree, weights=distance;, score=0.802 total time=   0.0s
[CV 3/3] END algorithm=ball_tree, weights=distance;, score=0.728 total time=   0.0s
[CV 1/3] END algorithm=kd_tree, weights=uniform;, score=0.668 total time=   0.0s
[CV 2/3] END algorithm=kd_tree, weights=uniform;, score=0.712 total time=   0.0s
[CV 3/3] END algorithm=kd_tree, weights=uniform;, score=0.757 total time=   0.0s
[CV 2/3] END algorithm=kd_tree, weights=distance;, score=0.802 total time=   0.0s
[CV 1/3] END ..algorithm=brute, weights=uniform;, score=0.668 total time=   0.0s
[CV 3/3] END ..algorithm=brute, weights=uniform;, score=0.757 total time=   0.0s
[CV 3/3] END .algorithm=brute, weights=distance;, score=0.728 total time=   0.0s
[CV 3/3] END ...algorithm=auto, weights=uniform;, score=0.757 total time=   0.1s
[CV 1/3] END ..algorithm=auto, weights=distance;, score=0.681 total time=   0.0s
[CV 2/3] END ...algorithm=auto, weights=uniform;, score=0.712 total time=   0.1s
[CV 1/3] END algorithm=kd_tree, weights=distance;, score=0.681 total time=   0.0s
[CV 3/3] END algorithm=kd_tree, weights=distance;, score=0.728 total time=   0.0s
[CV 2/3] END ..algorithm=brute, weights=uniform;, score=0.712 total time=   0.0s
[CV 1/3] END .algorithm=brute, weights=distance;, score=0.681 total time=   0.0s
[CV 2/3] END .algorithm=brute, weights=distance;, score=0.802 total time=   0.0s

In [20]:
#Table building for hyperparameter's
table=pd.DataFrame.from_dict(re)

In [21]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_algorithm,param_weights,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.008193,0.000449,0.057241,0.016673,auto,uniform,"{'algorithm': 'auto', 'weights': 'uniform'}",0.668317,0.711565,0.756663,0.712182,0.036070,5
1,0.006756,0.000960,0.015698,0.013250,auto,distance,"{'algorithm': 'auto', 'weights': 'distance'}",0.680653,0.801695,0.728489,0.736946,0.049776,1
2,0.006485,0.000269,0.012064,0.000458,ball_tree,uniform,"{'algorithm': 'ball_tree', 'weights': 'uniform'}",0.668317,0.711565,0.756663,0.712182,0.036070,5
3,0.010043,0.003207,0.010591,0.002899,ball_tree,distance,"{'algorithm': 'ball_tree', 'weights': 'distance'}",0.680653,0.801695,0.728489,0.736946,0.049776,1
4,0.011034,0.003306,0.015453,0.004254,kd_tree,uniform,"{'algorithm': 'kd_tree', 'weights': 'uniform'}",0.668317,0.711565,0.756663,0.712182,0.036070,5
5,0.007049,0.000349,0.006987,0.000164,kd_tree,distance,"{'algorithm': 'kd_tree', 'weights': 'distance'}",0.680653,0.801695,0.728489,0.736946,0.049776,1
6,0.006742,0.000267,0.012574,0.000293,brute,uniform,"{'algorithm': 'brute', 'weights': 'uniform'}",0.668317,0.711565,0.756663,0.712182,0.036070,5
7,0.008507,0.002415,0.006036,0.001370,brute,distance,"{'algorithm': 'brute', 'weights': 'distance'}",0.680653,0.801695,0.728489,0.736946,0.049776,1