In [1]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#Reading the CSV file
dataset = pd.read_csv("CKD.csv")

In [3]:
#printing the fetched dataset
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [4]:
#converting categorical to numerical value
dataset = pd.get_dummies(dataset,drop_first=True)

In [5]:
#printing the updated dataset
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [6]:
#renaming the columns
dataset.rename(columns={"rbc_normal":"rbc","pc_normal":"pc","pcc_present":"pcc","ba_present":"ba","htn_yes":"htn",
                        "dm_yes":"dm","cad_yes":"cad","appet_yes":"appet","pe_yes":"pe",
                        "ane_yes":"ane","classification_yes":"classification"},inplace=True)

In [7]:
#printing the updated columns
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc,pcc,ba,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [8]:
#printing the columns
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc', 'pc', 'pcc', 'ba',
       'htn', 'dm', 'cad', 'appet', 'pe', 'ane', 'classification'],
      dtype='object')

In [9]:
#separating the feature and target values
feature = dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc', 'pc', 'pcc', 'ba',
       'htn', 'dm', 'cad', 'appet', 'pe', 'ane']]
target = dataset[['classification']]

In [10]:
#printing the shape(rows,columns) feature and target values
feature.shape, target.shape

((399, 27), (399, 1))

In [11]:
#printing the feature and target values
print(feature,target)

           age         bp   al   su         bgr          bu        sc  \
0     2.000000  76.459948  3.0  0.0  148.112676   57.482105  3.077356
1     3.000000  76.459948  2.0  0.0  148.112676   22.000000  0.700000
2     4.000000  76.459948  1.0  0.0   99.000000   23.000000  0.600000
3     5.000000  76.459948  1.0  0.0  148.112676   16.000000  0.700000
4     5.000000  50.000000  0.0  0.0  148.112676   25.000000  0.600000
..         ...        ...  ...  ...         ...         ...       ...
394  51.492308  70.000000  0.0  0.0  219.000000   36.000000  1.300000
395  51.492308  70.000000  0.0  2.0  220.000000   68.000000  2.800000
396  51.492308  70.000000  3.0  0.0  110.000000  115.000000  6.000000
397  51.492308  90.000000  0.0  0.0  207.000000   80.000000  6.800000
398  51.492308  80.000000  0.0  0.0  100.000000   49.000000  1.000000

            sod       pot       hrmo  ...  rbc  pc  pcc  ba  htn  dm  cad  \
0    137.528754  4.627244  12.518156  ...    1   0    0   0    0   0    0
1    137.528754  4.627244  10.700000  ...    1   1    0   0    0   0    0
2    138.000000  4.400000  12.000000  ...    1   1    0   0    0   0    0
3    138.000000  3.200000   8.100000  ...    1   1    0   0    0   0    0
4    137.528754  4.627244  11.800000  ...    1   1    0   0    0   0    0
..          ...       ...        ...  ...  ...  ..  ...  ..  ...  ..  ...
394  139.000000  3.700000  12.500000  ...    1   1    0   0    0   0    0
395  137.528754  4.627244   8.700000  ...    1   1    0   0    1   1    0
396  134.000000  2.700000   9.100000  ...    1   1    0   0    1   1    0
397  142.000000  5.500000   8.500000  ...    1   1    0   0    1   1    0
398  140.000000  5.000000  16.300000  ...    1   1    0   0    0   0    0

     appet  pe  ane
0        1   1    0
1        1   0    0
2        1   0    0
3        1   0    1
4        1   0    0
..     ...  ..  ...
394      1   0    0
395      1   0    1
396      0   0    0
397      1   0    1
398      1   0    0

[399 rows x 27 columns]      classification
0                 1
1                 1
2                 1
3                 1
4                 1
..              ...
394               1
395               1
396               1
397               1
398               0

[399 rows x 1 columns]

In [12]:
#splitting the train and test set to train the model
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(feature,target,test_size=0.33,random_state=42)

In [13]:
#printing the train and test set
X_train,X_test

(      age    bp   al   su         bgr    bu   sc         sod       pot  \
 324  68.0  80.0  3.0  2.0  157.000000  90.0  4.1  130.000000  6.400000
 176  52.0  80.0  0.0  0.0  125.000000  22.0  1.2  139.000000  4.600000
 119  45.0  70.0  2.0  0.0  117.000000  52.0  2.2  136.000000  3.800000
 192  54.0  90.0  1.0  0.0  150.000000  18.0  1.2  140.000000  4.200000
 202  55.0  80.0  0.0  0.0  130.000000  50.0  1.2  147.000000  5.000000
 ..    ...   ...  ...  ...         ...   ...  ...         ...       ...
 71   35.0  80.0  0.0  0.0  104.000000  31.0  1.2  135.000000  5.000000
 106  43.0  60.0  0.0  0.0  108.000000  25.0  1.0  144.000000  5.000000
 270  62.0  90.0  1.0  0.0   94.000000  25.0  1.1  131.000000  3.700000
 348  71.0  90.0  0.0  3.0  303.000000  30.0  1.3  136.000000  4.100000
 102  43.0  80.0  2.0  3.0  148.112676  30.0  1.1  137.528754  4.627244

           hrmo  ...  rbc  pc  pcc  ba  htn  dm  cad  appet  pe  ane
 324   5.600000  ...    1   0    1   1    1   1    1      0   1    0
 176  16.500000  ...    1   1    0   0    0   0    0      1   0    0
 119  10.000000  ...    1   0    1   0    0   0    0      1   0    0
 192  12.518156  ...    1   0    0   0    0   0    0      0   1    1
 202  15.500000  ...    1   1    0   0    0   0    0      1   0    0
 ..         ...  ...  ...  ..  ...  ..  ...  ..  ...    ...  ..  ...
 71   16.100000  ...    1   1    0   0    0   0    0      1   0    0
 106  17.800000  ...    1   1    0   0    0   0    0      1   0    0
 270  12.518156  ...    1   1    0   0    1   0    0      1   1    1
 348  13.000000  ...    1   1    0   0    1   1    0      1   0    0
 102  14.000000  ...    1   0    1   1    0   0    0      1   0    0

 [267 rows x 27 columns],
            age    bp   al   su         bgr          bu         sc         sod  \
 198  55.000000  90.0  2.0  1.0  273.000000  235.000000  14.200000  132.000000
 349  71.000000  70.0  0.0  0.0   81.000000   18.000000   0.800000  145.000000
 33   24.000000  80.0  0.0  0.0   93.000000   46.000000   1.000000  145.000000
 208  56.000000  80.0  0.0  0.0  415.000000   37.000000   1.900000  137.528754
 93   41.000000  70.0  0.0  0.0  125.000000   38.000000   0.600000  140.000000
 ..         ...   ...  ...  ...         ...         ...        ...         ...
 393  51.492308  70.0  4.0  0.0  104.000000   16.000000   0.500000  137.528754
 380  78.000000  60.0  0.0  0.0  114.000000   74.000000   2.900000  135.000000
 384  80.000000  70.0  0.0  0.0  148.112676   57.482105   3.077356  135.000000
 310  66.000000  70.0  2.0  5.0  447.000000   41.000000   1.700000  131.000000
 145  48.000000  80.0  4.0  0.0   95.000000  163.000000   7.700000  136.000000

           pot       hrmo  ...  rbc  pc  pcc  ba  htn  dm  cad  appet  pe  ane
 198  3.400000   8.300000  ...    0   0    0   0    1   1    0      0   1    1
 349  5.000000  14.700000  ...    1   1    0   0    0   0    0      1   0    0
 33   3.500000  12.518156  ...    1   1    0   0    0   0    0      1   0    0
 208  4.627244  12.518156  ...    1   1    0   0    0   1    0      1   0    0
 93   5.000000  16.800000  ...    1   1    0   0    0   0    0      1   0    0
 ..        ...        ...  ...  ...  ..  ...  ..  ...  ..  ...    ...  ..  ...
 393  4.627244  12.518156  ...    0   1    0   0    0   0    0      1   1    0
 380  5.900000   8.000000  ...    1   1    0   0    0   1    0      1   0    1
 384  4.100000  15.300000  ...    1   1    0   0    0   0    0      1   0    0
 310  3.900000  12.500000  ...    1   1    0   0    1   1    0      1   0    0
 145  3.800000   9.800000  ...    1   0    0   0    1   0    0      1   0    1

 [132 rows x 27 columns])

In [14]:
Y_train,Y_test

(     classification
 324               1
 176               0
 119               1
 192               1
 202               0
 ..              ...
 71                0
 106               0
 270               1
 348               1
 102               1

 [267 rows x 1 columns],
      classification
 198               1
 349               0
 33                0
 208               1
 93                0
 ..              ...
 393               1
 380               1
 384               0
 310               1
 145               1

 [132 rows x 1 columns])

In [15]:
#Standardisation of values procedure to improve the model performance
from sklearn.preprocessing import StandardScaler
sc_grid = StandardScaler()
X_train = sc_grid.fit_transform(X_train)
X_test = sc_grid.transform(X_test)

In [16]:
#printing the standardised values with no of rows & columns
print(X_train.shape),print(X_train)

(267, 27)
[[ 0.98875773  0.25046485  1.48979417 ... -1.89827508  1.96329963
  -0.42592949]
 [-0.00698541  0.25046485 -0.74072009 ...  0.52679404 -0.5093466
  -0.42592949]
 [-0.44262303 -0.53514309  0.74628941 ...  0.52679404 -0.5093466
  -0.42592949]
 ...
 [ 0.61535405  1.03607279  0.00278466 ...  0.52679404  1.96329963
   2.34780645]
 [ 1.17545957  1.03607279 -0.74072009 ...  0.52679404 -0.5093466
  -0.42592949]
 [-0.56709092  0.25046485  0.74628941 ...  0.52679404 -0.5093466
  -0.42592949]]

(None, None)

In [17]:
#printing the standardised values with no of rows & columns
print(X_test.shape),print(X_test)

(132, 27)
[[ 0.17971643  1.03607279  0.74628941 ... -1.89827508  1.96329963
   2.34780645]
 [ 1.17545957 -0.53514309 -0.74072009 ...  0.52679404 -0.5093466
  -0.42592949]
 [-1.7495359   0.25046485 -0.74072009 ...  0.52679404 -0.5093466
  -0.42592949]
 ...
 [ 1.73556508 -0.53514309 -0.74072009 ...  0.52679404 -0.5093466
  -0.42592949]
 [ 0.86428984 -0.53514309  0.74628941 ...  0.52679404 -0.5093466
  -0.42592949]
 [-0.25592119  0.25046485  2.23329892 ...  0.52679404 -0.5093466
   2.34780645]]

(None, None)

In [18]:
#model creation and learning phase
from sklearn.tree import DecisionTreeClassifier
#importing gridsearch to fit hypertunning parameter's in table form automatically &
#To find best parameter. 
from sklearn.model_selection import GridSearchCV

hyperparam_grid = {'criterion': ['gini','entropy'],
                  'max_features':['auto','sqrt','log2'],
                  'splitter':['best','random']}

grid_dtc = GridSearchCV(DecisionTreeClassifier(),
                        hyperparam_grid,cv=3, refit=True,verbose=3,
                        n_jobs=-1,scoring='f1_weighted')

#Model creation for grid search
grid_dtc.fit(X_train,Y_train)

Fitting 3 folds for each of 12 candidates, totalling 36 fits

GridSearchCV(cv=3, estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             scoring='f1_weighted', verbose=3)

In [19]:
#printing the best parameter after tuning
re=grid_dtc.cv_results_
Y_prediction = grid_dtc.predict(X_test)

from sklearn.metrics import confusion_matrix
cm= confusion_matrix(Y_test,Y_prediction)

#printing classification report
from sklearn.metrics import classification_report
clf_report = classification_report(Y_test,Y_prediction)

In [20]:
from sklearn.metrics import f1_score
macro_value = f1_score(Y_test,Y_prediction,average='weighted')
print("The macro_value for best parameter {}:".format(grid_dtc.best_params_),macro_value)

The macro_value for best parameter {'criterion': 'entropy', 'max_features': 'log2', 'splitter': 'random'}: 0.9696969696969697

In [21]:
print("The confusion matrix:\n",cm)

The confusion matrix:
 [[51  2]
 [ 2 77]]

In [22]:
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

           0       0.96      0.96      0.96        53
           1       0.97      0.97      0.97        79

    accuracy                           0.97       132
   macro avg       0.97      0.97      0.97       132
weighted avg       0.97      0.97      0.97       132

In [23]:
#Table building for hyperparameter's
table=pd.DataFrame.from_dict(re)

In [24]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.006103,0.003718,0.002065,0.000587,gini,auto,best,"{'criterion': 'gini', 'max_features': 'auto', ...",0.966591,0.933004,0.954381,0.951325,0.013881,7
1,0.003669,0.000504,0.002182,0.000244,gini,auto,random,"{'criterion': 'gini', 'max_features': 'auto', ...",0.977668,0.977668,0.921976,0.959104,0.026254,4
2,0.003377,0.000116,0.002213,0.000058,gini,sqrt,best,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.955336,0.955561,0.919805,0.943567,0.016802,11
3,0.003477,0.000127,0.002126,0.000166,gini,sqrt,random,"{'criterion': 'gini', 'max_features': 'sqrt', ...",0.966591,0.955561,0.896893,0.939682,0.030590,12
4,0.003399,0.000113,0.002217,0.000056,gini,log2,best,"{'criterion': 'gini', 'max_features': 'log2', ...",0.988724,0.933341,0.955056,0.959040,0.022785,5
5,0.003509,0.000027,0.002325,0.000182,gini,log2,random,"{'criterion': 'gini', 'max_features': 'log2', ...",0.977668,0.977668,0.944486,0.966607,0.015642,2
6,0.003952,0.000131,0.002310,0.000055,entropy,auto,best,"{'criterion': 'entropy', 'max_features': 'auto...",0.955336,0.966591,0.965929,0.962619,0.005157,3
7,0.003631,0.000112,0.002322,0.000066,entropy,auto,random,"{'criterion': 'entropy', 'max_features': 'auto...",0.922653,0.988724,0.921091,0.944156,0.031521,9
8,0.003892,0.000078,0.002383,0.000039,entropy,sqrt,best,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.955561,0.966591,0.954748,0.958967,0.005402,6
9,0.003756,0.000187,0.002365,0.000078,entropy,sqrt,random,"{'criterion': 'entropy', 'max_features': 'sqrt...",0.955561,0.966591,0.910617,0.944256,0.024209,8
10,0.003687,0.000077,0.002351,0.000051,entropy,log2,best,"{'criterion': 'entropy', 'max_features': 'log2...",0.933601,0.943619,0.954748,0.943989,0.008637,10
11,0.003452,0.000080,0.001984,0.000414,entropy,log2,random,"{'criterion': 'entropy', 'max_features': 'log2...",1.000000,1.000000,0.988797,0.996266,0.005281,1